'scopeName': 'text.tex.latex.beamer'
'name': 'LaTeX Beamer'
'fileTypes': []
'firstLineMatch': '^\\\\documentclass(\\[.*\\])?\\{beamer\\}'
'patterns': [
  {
    'begin': '(\\\\use(?:color|font|inner|outer)?theme)(?:(\\[)([^\\]]*)(\\]))?(\\{)'
    'beginCaptures':
      '1':
        'name': 'keyword.control.preamble.latex'
      '2':
        'name': 'punctuation.definition.arguments.optional.begin.latex'
      '3':
        'name': 'variable.parameter.latex'
      '4':
        'name': 'punctuation.definition.arguments.optional.end.latex'
      '5':
        'name': 'punctuation.definition.arguments.begin.latex'
    'contentName': 'support.class.latex'
    'end': '\\}'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.arguments.end.latex'
    'name': 'meta.preamble.latex'
  }
  {
    'begin': '(?:\\s*)((\\\\)begin)(\\{)(frame)(\\})'
    'captures':
      '1':
        'name': 'support.function.be.latex'
      '2':
        'name': 'punctuation.definition.function.latex'
      '3':
        'name': 'punctuation.definition.arguments.begin.latex'
      '4':
        'name': 'variable.parameter.function.latex'
      '5':
        'name': 'punctuation.definition.arguments.end.latex'
    'end': '((\\\\)end)(\\{)(frame)(\\})'
    'name': 'meta.function.environment.frame.latex'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'captures':
      '1':
        'name': 'support.function.frametitle.latex'
      '2':
        'name': 'punctuation.definition.function.latex'
      '3':
        'name': 'punctuation.definition.arguments.begin.latex'
      '4':
        'name': 'entity.name.function.frame.latex'
      '5':
        'name': 'punctuation.definition.arguments.end.latex'
    'match': '((\\\\)frametitle)(\\{)(.*)(\\})'
    'name': 'meta.function.frametitle.latex'
  }
  # These two rules are repeated from `latex.cson` in order to support the use
  # of `$self` instead of `$base`. The former allows for correct embedding of
  # LaTeX rules within other grammars, for example Markdown.
  {
    'begin': '\\{'
    'beginCaptures':
      '0':
        'name': 'punctuation.section.group.begin.tex.latex.beamer'
    'end': '\\}'
    'endCaptures':
      '0':
        'name': 'punctuation.section.group.end.tex.latex.beamer'
    'name': 'meta.group.braces.tex.latex.beamer'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'begin': '(?:\\s*)((\\\\)begin)(\\{)(\\w+[*]?)(\\})'
    'captures':
      '1':
        'name': 'support.function.be.latex.beamer'
      '2':
        'name': 'punctuation.definition.function.latex.beamer'
      '3':
        'name': 'punctuation.definition.arguments.latex.beamer'
      '4':
        'name': 'variable.parameter.function.latex.beamer'
      '5':
        'name': 'punctuation.definition.arguments.latex.beamer'
    'end': '((\\\\)end)(\\{)(\\4)(\\})(?:\\s*\\n)?'
    'name': 'meta.function.environment.$4.latex.beamer'
    'patterns': [
      {
        'include': '$self'
      }
    ]
  }
  {
    'include': 'text.tex.latex'
  }
]
